<!DOCTYPE html>
<html>
  <head>
    <title>Achievement Watcher</title>
    <meta charset="UTF-8">
    <meta name="author" content="Beaumont Anthony">  
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' 'sha256-8bN0RHehxwM+NantiQEoMGefMcuLhhUiisPMRn1ajz0='; style-src 'self' 'unsafe-inline';  font-src 'self'; media-src 'self'; img-src 'self' data: https://steamcdn-a.akamaihd.net https://api.xan105.com; connect-src 'self' https://api.steampowered.com";>
    <link rel="stylesheet" href="../resources/css/normalize.css" type="text/css" integrity="sha384-FNeri+I6YqdUsa0AZboUgvcTwUto9lI1Irhd2pUGyeaNo+FgvNALfgS72T6cSqAO"/>
    <link rel="stylesheet" href="../resources/css/fontawesome_all.css" type="text/css" integrity="sha384-2E+vxfAd9BSs686izEvg9IkPuDNoFqJ4y6d+yZOpMUL5850Tp0CpoeKoULCQ/+Yn"/>
    <link rel="stylesheet" href="../resources/css/app.css" type="text/css" integrity="sha384-rgO31DODTNtlqK+NnR8UxuE15irjTqg4gbNF0xknOFFzRLtdbcymFKQow+NWwgHi"/>
    <link rel="stylesheet" href="../locale/override.css" type="text/css" integrity="sha384-Nb3XmGzva8AUtKVqD2TlLEa/yLHAzeABBDFOS2DpLZDFxMINc2lctXhb0cSlm3qe"/>
  </head>
  <body>
    
   <header>
      <ul id="window-controls" class="button hover">
        <li id="win-close" data-closeAllWindow="false"><i class="fas fa-times"></i></li>
        <li id="win-maximize"><i class="far fa-window-maximize"></i></li>
        <li id="win-minimize"><i class="far fa-window-minimize"></i></li>
        <li id="win-settings"><i class="fas fa-cog"></i></li>
      </ul>
    </header>
    
    <main id="main">
      <section id="home">
      
        <div id="user-info">
          <div class="avatar"></div>
          <div class="info">
            <div class="name"></div>
            <div class="trophy">
              <ol>
                <li class="platinum"><i class="fas fa-trophy"></i> <span>0</span></li>
                <li class="gold"><i class="fas fa-trophy"></i> <span>0</span></li>
                <li class="silver"><i class="fas fa-trophy"></i> <span>0</span></li>
                <li class="bronze"><i class="fas fa-trophy"></i> <span>0</span></li>
              </ol>  
            </div>
            <div class="stats">
              <ul>
                <li><i class="fas fa-trophy"></i> <span class="data">0</span> <span></span></li>
                <li><i class="fas fa-gamepad"></i> <span class="data">0</span> <span></span></li>
                <li><i class="fas fa-cookie-bite"></i> <span class="data">0</span>% <span></span></li>
              </ul>
            </div>
          </div>
        </div>
        
        <div id="sort-box">
              <div class="alpha sort"><i class="fas fa-sort-alpha-down"></i></div> 
              <div class="percentage sort"><i class="fas fa-sort-numeric-down"></i><i class="fas fa-percent"></i></div>
        </div>

        <div id="game-list">
          <ul>
          </ul>
          <div class="isEmpty"><span></span> <i class="fas fa-sad-tear"></i></div>
          <div class="loading">
            <div class="title"></div>
            <div class="progressBar" data-percent="0"><span class="meter"></span></div>
          </div>
        </div>    

      </section>
      <section id="achievement">
      
        <div class="wrapper">
        
            <div class="header">
              <div class="title"><div class="icon"></div><span></span></div>
              <div class="stats">
                <div class="counter" data-count="0" data-max="0" data-percent="0"><i class="fas fa-trophy"></i></div>
              </div>
              <div class="trophy">
                <ol>
                  <li class="platinum"><i class="fas fa-trophy"></i> <span>0</span></li>
                  <li class="gold"><i class="fas fa-trophy"></i> <span>0</span></li>
                  <li class="silver"><i class="fas fa-trophy"></i> <span>0</span></li>
                  <li class="bronze"><i class="fas fa-trophy"></i> <span>0</span></li>
                </ol>  
              </div>
              <div class="backButton" id="btn-previous"></div>
            </div>
            
            <div class="achievements">
            
               <div id="unlock" class="achievement-list active">
                <div class="header">
                  <span class="title" data-count="0"><i class="fas fa-unlock"></i> <span></span></span>
                  <span class="toggle"><i class="fas fa-chevron-right"></i></span>
                </div>
                <ul> 
                </ul>
              </div>
              
              <div id="lock" class="achievement-list active">
                <div class="header">
                  <span class="title" data-count="0"><i class="fas fa-lock"></i> <span></span></span>
                  <span class="toggle"><i class="fas fa-chevron-right"></i></span>
                </div>
                <ul>
                </ul>
              </div>

            <div id="btn-scrollup"> 
              <div></div>
              <span></span>
            </div>
              
            </div>
        </div>

      </section>
      
      <section id="settings">
        <div class="overlay"></div>
        <div class="box">
              
             <div class="header"><i class="fas fa-cog"></i> <span></span></div> 
             
             <div class="container">
             
             <nav id="settingNav">
              <ul>
                <li class="active" data-view="general"><i class="fas fa-tools"></i> <span></span></li>
                <li data-view="notification"><i class="fas fa-bell"></i> <span></span></li>
                <li data-view="folder"><i class="far fa-folder"></i> <span></span></li>
                <li data-view="advanced"><i class="fas fa-flask"></i> <span></span></li>
                <li data-view="debug"><i class="fas fa-bug"></i> <span>Debug</span></li>
             </nav>
               
             <section class="content" data-view="debug">
               <ul>
                <li>Toast Notification Test</li>
                <li>
                  <div id="notify_test" class="btn"><i class="fas fa-bread-slice"></i> <span>Toast Test</span></div> 
                  <select autocomplete="off">
                    <option value="Microsoft.XboxApp_8wekyb3d8bbwe!Microsoft.XboxApp" selected>Xbox App (Win10)</option>
                    <option value="Microsoft.XboxGamingOverlay_8wekyb3d8bbwe!App">Xbox Game Bar (Win10)</option>
                    <option value="microsoft.XboxLIVEGames_8wekyb3d8bbwe!Microsoft.XboxLIVEGames">Xbox Games (Win8)</option>
                  </select>
                  <span><a href="https://github.com/xan105/Achievement-Watcher#live-notification-on-achievement-unlocking" target="_blank">More info</a></span>
               </li>
               <li>
                <a href="ms-settings:quiethours" target="_blank" class="btn"><i class="fas fa-moon fa-flip-horizontal"></i> <span>Focus Assist</span></a>
                <a href="ms-settings:notifications" target="_blank" class="btn"><i class="fas fa-comment"></i> <span>Notifications & actions</span></a>
               </li>
               <li>
                <div id="focus-assist-state">Focus Assist current state : <span></span></div>
               </li>
               <li>
                 <p>
                  Windows 7 doesn't have toast notification.<br/>
                  Windows 8.1 : Don't forget quiet hours.<br/>
                  Windows 10 >= 1903 : New focus assist auto rule for fullscreen app set to alarm only by default prevents the notification from working out of the box.
                 </p>
               </li>
               </ul>
               
               <ul>
                <li>Growl Network Transport Protocol (GNTP) Test</li>
                <li><div id="gntp_test" class="btn"><i class="fas fa-paw"></i> <span>Grrr !</span></div> <span>localhost</span>:<span>23053</span></li>
               </ul>             
             </section>  
 
             <section class="content" data-view="advanced">
               <ul>
                <li></li>
                <li>
                  <div id="blacklist_reset" class="btn"><i class="fas fa-file-medical-alt"></i> <span></span></div>
                  <div></div>
                </li>
               </ul>

               <div id="options-steam-api">
                    <div class="title"><i class="fas fa-key"></i> Steam Web API Key</div>
                    <div class="disclaimer">                
                      <p>
                      Some use of the Steam Web API to fetch data from Steam requires the use of an API Key.  
                      </p>

                      <p>
                      Leave this field blank to automagically fetch said data.<br />
                      This service is not guarantee over time and is solely provided for your own convenience.<br />
                      If you experience any issues please use your own Steam Web API key.              
                      </p>              
                        
                      <p>                
                      You can acquire one <a href="https://steamcommunity.com/dev/apikey" target="_blank">by filling out this form</a>.<br /> 
                      Use of the APIs also requires that you agree to the <a href="https://steamcommunity.com/dev/apiterms" target="_blank">Steam API Terms of Use</a>.
                      </p>
                    </div>

                    <label for="steamwebapikey"><i class="fab fa-steam-symbol"></i> Your Steam Web API Key :</label>
                    <input type="password" pattern="[a-fA-F\d]+" id="steamwebapikey" >
                    <span>Key will be crypted and stored to your computer in aes-256-cbc.</span>
                    
               </div>
             </section>
             
             <section class="content" data-view="folder">
             
             <div class="disclaimer"><i class="fas fa-info-circle"></i> <span></span></div>
             
             <div class="title"><span></span></div>
             <ul id="defaultdir">
               <li>
                  <div class="path"><span class="constant">%PUBLIC%</span>\Documents\Steam\CODEX</div>
                  <div class="controls"><ul><li><i class="fas fa-bell"></i></li></ul></div>
               </li>
               <li>
                  <div class="path"><span class="constant">%appdata%</span>\Goldberg SteamEmu Saves</div>
                  <div class="controls"><ul><li><i class="fas fa-bell"></i></li></ul></div>
               </li>
               <li>
                  <div class="path"><span class="constant">%appdata%</span>\Steam\CODEX</div>
               </li> 
               <li>
                  <div class="path"><span class="constant">%ProgramData%</span>\Steam\*</div>
                  <div class="controls"><ul><li><i class="fas fa-bell"></i></li></ul></div>
               </li> 
               <li>
                  <div class="path"><span class="constant">%localappdata%</span>\SKIDROW</div>
               </li> 
               <li>
                  <div class="path"><span class="constant">%DOCUMENTS%</span>\SKIDROW</div>
               </li> 
               <li>
                  <div class="path"><span class="constant">%appdata%</span>\SmartSteamEmu</div>
               </li>
               <li>
                  <div class="path"><span class="constant">%DOCUMENTS%</span>\HLM</div>
                  <div class="controls"><ul><li><i class="fas fa-bell"></i></li></ul></div>
               </li>
               <li>
                  <div class="path"><span class="constant">%DOCUMENTS%</span>\DARKSiDERS</div>
                  <div class="controls"><ul><li><i class="fas fa-bell"></i></li></ul></div>               
               </li>  
             </ul>
             
             <div class="title"><i class="fas fa-user-edit"></i> <span></span></div>
             
             <div class="controls">
               <div class="info">
                <p></p>
               </div>
              <ul>
              <li><div id="addCustomDir" class="btn"><i class="fas fa-folder-plus"></i> <span></span></div></li>
              </ul>
             </div>
             
             <ul id="dirlist"></ul>

             </section>
             
             <section class="content" data-view="notification">
                <div id="options-notify" class="arrow-list">
                  <ul>
                  
                      <li class="hasHelper">
                        <div class="left"><i class="fas fa-bell"></i> <span></span></div>
                        <div class="right">
                         <div class="previous"><span class="arrow"><i class="fas fa-chevron-left"></i></span></div>
                          <select autocomplete="off" id="option_notify">
                            <option value="true" selected></option>
                            <option value="false"></option>
                          </select>
                         <div class="next"><span class="arrow"><i class="fas fa-chevron-right"></i></span></div>
                        </div>
                        <div class="help"></div>
                      </li>

                      <li class="hasHelper">
                        <div class="left"><i class="fas fa-camera"></i> <span></span></div>
                        <div class="right">
                         <div class="previous"><span class="arrow"><i class="fas fa-chevron-left"></i></span></div>
                          <select autocomplete="off" id="option_souvenir">
                            <option value="true" selected></option>
                            <option value="false"></option>
                          </select>
                         <div class="next"><span class="arrow"><i class="fas fa-chevron-right"></i></span></div>
                        </div>
                        <div class="help"></div>
                      </li>

                      <li class="hasHelper">
                        <div class="left"><i class="fas fa-images"></i> <span></span></div>
                        <div class="right">
                         <div class="previous"><span class="arrow"><i class="fas fa-chevron-left"></i></span></div>
                          <select autocomplete="off" class="dropdown" id="option_toastSouvenir">
                            <option value="0" selected></option>
                            <option value="1"></option>
                            <option value="2"></option>
                          </select>
                         <div class="next"><span class="arrow"><i class="fas fa-chevron-right"></i></span></div>
                        </div>
                        <div class="help"></div>
                      </li>
                      
                      <li class="hasHelper">
                        <div class="left"><i class="fas fa-comment-dots"></i> <span></span></div>
                        <div class="right">
                         <div class="previous"><span class="arrow"><i class="fas fa-chevron-left"></i></span></div>
                          <select autocomplete="off" id="option_showDesc">
                            <option value="false" selected></option>
                            <option value="true"></option>
                          </select>
                         <div class="next"><span class="arrow"><i class="fas fa-chevron-right"></i></span></div>
                        </div>
                        <div class="help"></div>
                      </li>
                      
                      <li class="hasHelper">
                        <div class="left"><i class="fas fa-volume-up"></i> <span></span></div>
                        <div class="right">
                         <div class="previous"><span class="arrow"><i class="fas fa-chevron-left"></i></span></div>
                          <audio id="customToastAudio_sample" >
                            <source src="" type="audio/wav" />
                          </audio>
                          <select autocomplete="off" class="dropdown" id="option_customToastAudio">
                            <option value="0"></option>
                            <option value="1" data-file="" selected></option>
                            <option value="2" data-file="Achievement Xbox.wav">Xbox</option>
                            <option value="2" data-file="Achievement Xbox Rare.wav">Xbox (Rare)</option>
                            <option value="2" data-file="Achievement Playstation.wav">Playstation</option>
                            <option value="2" data-file="Achievement Windows 10 Notify System Generic.wav">Win 10</option>
                            <option value="2" data-file="Achievement Windows 8 Notify System Generic.wav">Win 8</option>
                            <option value="2" data-file="Achievement Android 9 Notification Popcorn.wav">Popcorn</option>
                            <option value="2" data-file="Achievement Discord Reconnect.wav">Discord</option>
                          </select>
                         <div class="next"><span class="arrow"><i class="fas fa-chevron-right"></i></span></div>
                        </div>
                        <div class="help"></div>
                      </li>
                      
                      <li class="hasHelper">
                        <div class="left"><i class="fas fa-terminal"></i> <span></span></div>
                        <div class="right">
                         <div class="previous"><span class="arrow"><i class="fas fa-chevron-left"></i></span></div>
                          <select autocomplete="off" id="option_powershell">
                            <option value="true" selected></option>
                            <option value="false"></option>
                          </select>
                         <div class="next"><span class="arrow"><i class="fas fa-chevron-right"></i></span></div>
                        </div>
                        <div class="help"></div>
                      </li>
                      
                      <li class="hasHelper">
                        <div class="left"><i class="fas fa-paw"></i> <span></span></div>
                        <div class="right">
                         <div class="previous"><span class="arrow"><i class="fas fa-chevron-left"></i></span></div>
                          <select autocomplete="off" id="option_gntp">
                            <option value="true" selected></option>
                            <option value="false"></option>
                          </select>
                         <div class="next"><span class="arrow"><i class="fas fa-chevron-right"></i></span></div>
                        </div>
                        <div class="help">Growl Notification Transport Protocol</div>
                      </li>

                  </ul>
                </div>
             </section>

             <section class="content active" data-view="general">
             
                <div id="options-ui" class="arrow-list">
                  <ul>
                      <li class="hasHelper">
                        <div class="left"><i class="fas fa-language"></i> <span></span></div>
                        <div class="right">
                         <div class="previous"><span class="arrow"><i class="fas fa-chevron-left"></i></span></div>
                          <select autocomplete="off" class="dropdown" title="" id="option_lang">
                          </select>
                         <div class="next"><span class="arrow"><i class="fas fa-chevron-right"></i></span></div>
                        </div>
                        <div class="help"><span></span> <a href="https://github.com/xan105/Achievement-Watcher/tree/master/app/locale" target="_blank"></a></div>
                      </li>
          
                      <li>
                        <div class="left"><i class="fas fa-eye-slash"></i> <span></span></div>
                        <div class="right">
                         <div class="previous"><span class="arrow"><i class="fas fa-chevron-left"></i></span></div>
                          <select autocomplete="off" id="option_showHidden">
                            <option value="false" selected></option>
                            <option value="true"></option>
                          </select>
                         <div class="next"><span class="arrow"><i class="fas fa-chevron-right"></i></span></div>
                        </div>
                      </li>

                      <li>
                        <div class="left"><i class="fas fa-clone"></i> <span></span></div>
                        <div class="right">
                         <div class="previous"><span class="arrow"><i class="fas fa-chevron-left"></i></span></div>
                          <select autocomplete="off" id="option_mergeDuplicate">
                            <option value="true" selected></option>
                            <option value="false"></option>
                          </select>
                         <div class="next"><span class="arrow"><i class="fas fa-chevron-right"></i></span></div>
                        </div>
                      </li>
                      
                      <li class="hasHelper">
                        <div class="left"><i class="fas fa-history"></i> <span></span></div>
                        <div class="right">
                         <div class="previous"><span class="arrow"><i class="fas fa-chevron-left"></i></span></div>
                          <select autocomplete="off" id="option_timeMergeRecentFirst">
                            <option value="true" selected></option>
                            <option value="false"></option>
                          </select>
                         <div class="next"><span class="arrow"><i class="fas fa-chevron-right"></i></span></div>
                        </div>
                        <div class="help"></div>
                      </li>
                      
                     <li>
                        <div class="left"><i class="fas fa-percent"></i> <span></span></div>
                        <div class="right">
                         <div class="previous"><span class="arrow"><i class="fas fa-chevron-left"></i></span></div>
                          <select autocomplete="off" id="option_hideZero">
                            <option value="false" selected></option>
                            <option value="true"></option>
                          </select>
                         <div class="next"><span class="arrow"><i class="fas fa-chevron-right"></i></span></div>
                        </div>
                      </li>
                      
                      <li class="hasHelper">
                        <div class="left"><i class="fab fa-steam"></i> <span></span></div>
                        <div class="right">
                         <div class="previous"><span class="arrow"><i class="fas fa-chevron-left"></i></span></div>
                          <select autocomplete="off" class="dropdown" id="option_legitSteam">
                            <option value="0" selected></option>
                            <option value="1"></option>
                            <option value="2"></option>
                          </select>
                         <div class="next"><span class="arrow"><i class="fas fa-chevron-right"></i></span></div>
                        </div>
                        <div class="help"></div>
                      </li>

                  </ul>
                </div>

             </section>
             </div>
             
             <div class="footer">
                 <div class="notice">
                      <p><span></span> <span></span></p>
                      <p><i class="fab fa-github"></i> <a href="https://github.com/xan105/Achievement-Watcher" target="_blank">xan105/achievement-watcher</a></p>
                 </div>
                 <div class="buttons">
                    <div id="btn-settings-cancel"></div>
                    <div id="btn-settings-save"></div>
                 </div>
              </div>
           
        </div>
      </section>
    
    </main>
          
<script>window.$ = window.jQuery = require('../ui/lib/jquery-3.3.1.min.js');</script>
<script src="../ui/window.js" type="text/javascript" integrity="sha384-GKKy2QeSRtNbou2qRrAEY3BmXx/Cr8bmYt7u48YdduF8F+m0cl8ASCsF3b3Zm7R6"></script>
<script src="../ui/game.js" type="text/javascript" integrity="sha384-usARRhiayw5ILzC8qs+56cmGzDe0AinRznbezpctAqzni0o+MHQTroxtrNyY+j1q"></script>
<script src="../ui/sort.js" type="text/javascript" integrity="sha384-y+xUTLDE22ma9R+30fKsq+1n9+ahM04ICx+ZfhHWEr9+sceoe8kjJ+X7RhgnrodV"></script> 
<script src="../ui/settings.js" type="text/javascript" integrity="sha384-ZZQysVo1jWsy49nNJCswzNVkFQDE7dobis8qyRI6A/DXzcO2crxE6p+VqjZDdQJZ"></script>
<script src="../app.js" type="text/javascript"></script>     
    
  </body>
</html>