html[lang="es"] .achievement .stats .time, 
html[lang="es"] .achievement .stats .community 
{
    width: 240px;
}
html[lang="es"] #options-notify-toast li:nth-child(1).hasHelper,
html[lang="es"] #options-notify-toast li:nth-child(2).hasHelper,
html[lang="es"] #options-notify-transport li:nth-child(2).hasHelper   
{
  margin-bottom: 32px;
}
html[lang="es"] #options-notify-toast li:nth-child(3).hasHelper  
{
  margin-bottom: 48px;
}
#settings .content[data-view="folder"] > .controls .info
{
  font-size: 12px;
}

html[lang="ja"] .achievement .stats .time, 
html[lang="ja"] .achievement .stats .community,
html[lang="it"] .achievement .stats .time, 
html[lang="it"] .achievement .stats .community
{
    width: 260px;
}

html[lang="ru"] .achievement .stats .community
{
    width: 260px;
    font-size: 14px;
}
html[lang="ru"] .achievement .stats .community > i 
{
  font-size: 16px;
  line-height: 14px;
  vertical-align: text-bottom;
}
html[lang="ru"] #achievement .achievements .achievement-list > .header
{
  font-family: "Raleway-bold";
}
html[lang="ru"] #settingNav li {
  width: 130px;
}

html[lang="fr"] #options-notify-transport li:nth-child(2).hasHelper 
{
  margin-bottom: 32px;
}

html[lang="hu"] .achievement .stats .time, 
html[lang="hu"] .achievement .stats .community 
{
    width: 240px;
}
html[lang="hu"] #options-ui li:nth-child(5).hasHelper,
html[lang="hu"] #options-notify-transport li:nth-child(2).hasHelper,
html[lang="hu"] #options-source li:nth-child(1).hasHelper
{
  margin-bottom: 32px;
}

html[lang="pl"] #settingNav li 
{
  width: 140px;
}
html[lang="pl"] .arrow-list li 
{
  font-size: 15px;
}
html[lang="pl"] #options-source li:nth-child(6).hasHelper,
html[lang="pl"] #options-notify-transport li:nth-child(2).hasHelper
{
  margin-bottom: 32px;
}

html[lang="pt"] .achievement .stats .time, 
html[lang="pt"] .achievement .stats .community
{
  width: 240px;
}
html[lang="pt"] #options-notify-toast li:nth-child(1).hasHelper,
html[lang="pt"] #options-notify-transport li:nth-child(2).hasHelper,
html[lang="pt"] #options-notify-transport li:nth-child(3).hasHelper 
{
  margin-bottom: 32px;
}

html[lang="de"] #settings .box { width: 780px; }
html[lang="de"] #settingNav li { width: 155px; }
html[lang="de"] #options-ui li:nth-child(5).hasHelper,
html[lang="de"] #options-notify-transport li:nth-child(2).hasHelper,
html[lang="de"] #options-source li:nth-child(1).hasHelper
{
  margin-bottom: 32px;
}
html[lang="de"] #options-notify-toast li:nth-child(3).hasHelper
{
  margin-bottom: 48px;
}